body {
    background-color: black;
  }
  
  .galactic-map {
    position: relative;
    height: 100vh;
    overflow: hidden;
  }
  
  .planet-img {
    width: 80px;
    cursor: pointer;
    transition: transform 0.3s ease;
  }
  
  .planet-img:hover {
    transform: scale(1.5);
  }