body {
    background-color: black;
  }
  
  .galactic-map {
    position: relative;
    height: 100vh;
    overflow: hidden;
    border: 2px solid red; /* Para ver el contorno mientras pruebas */
  }
  
  .planet-img {
    width: 70px;
    cursor: pointer;
    transition: transform 0.3s ease;
  }
  
  .planet-img:hover {
    transform: scale(1.2);
  }